<%= form_with url: password_resets_path, method: :post, local: true do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= f.submit "Reset my password!" %>
  </div>
<% end %>
